@font-face {
  font-family: DaxlineProLight;
  src: url(fonts/daxlineprolight.eot), url(fonts/daxlineprolight.eot?#iefix) format("embedded-opentype"), url(fonts/daxlineprolight.woff2) format("woff2"), url(fonts/daxlineprolight.woff) format("woff"), url(fonts/daxlineprolight.ttf) format("truetype");
}

@font-face {
  font-family: DaxlineProMedium;
  src: url(fonts/daxlinepromedium.eot), url(fonts/daxlinepromedium.eot?#iefix) format("embedded-opentype"), url(fonts/daxlinepromedium.woff2) format("woff2"), url(fonts/daxlinepromedium.woff) format("woff"), url(fonts/daxlinepromedium.ttf) format("truetype");
}

@font-face {
  font-family: DaxlineProBold;
  src: url(fonts/daxlineprobold.eot), url(fonts/daxlineprobold.eot?#iefix) format("embedded-opentype"), url(fonts/daxlineprobold.woff2) format("woff2"), url(fonts/daxlineprobold.woff) format("woff"), url(fonts/daxlineprobold.ttf) format("truetype");
}

@font-face {
  font-family: DaxlineProBlack;
  src: url(fonts/daxlineproblack.eot), url(fonts/daxlineproblack.eot?#iefix) format("embedded-opentype"), url(fonts/daxlineproblack.woff2) format("woff2"), url(fonts/daxlineproblack.woff) format("woff"), url(fonts/daxlineproblack.ttf) format("truetype");
}

@font-face {
  font-family: llIcons;
  src: url(fonts/ll-icon-font.eot), url(fonts/ll-icon-font.eot?#iefix) format("embedded-opentype"), url(fonts/ll-icon-font.woff) format("woff"), url(fonts/ll-icon-font.ttf) format("truetype");
}

h1, h3 {
  font-size: 14px;
  line-height: 18px;
  font-family: DaxlineProMedium;
}

h1 {
  margin-top: 7px;
  margin-bottom: 10px;
  color: #012406;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 21px;
    line-height: 24px;
    margin-top: 20px;
    font-family: DaxlineProBlack;
    text-transform: uppercase;
  }
}

h3 {
  font-family: DaxlineProMedium;
  border-bottom: 1px solid #9aa89c;
  padding-bottom: 7px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 17px;
    line-height: 26px;
    font-family: DaxlineProLight;
    border-bottom: transparent;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .page-content {
  width: 100%;
  max-width: 960px;
  overflow-x: hidden;
  font-family: DaxlineProMedium;
  font-size: 14px;
  line-height: 21px;
}

body > * {
  padding-bottom: 7px;
}

.results-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results-header h1 {
  width: 100%;
  border-bottom: 2px solid #69a507;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .results-header h1 {
    width: auto;
    border-bottom: transparent;
    padding: 0;
  }
}

.results-header h1 > span {
  padding: 0 14px;
}

@media screen and (min-width: 768px) {
  .results-header h1 > span {
    padding: 0;
  }
}

.results-header .draw-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-header .draw-dates > div {
  margin-right: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 14px;
}

.results-header .draw-dates select {
  height: 40px;
  padding-right: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #d9deda;
  outline: none;
  font-family: DaxlineProMedium;
  color: #012406;
  padding-right: 35px;
  padding-left: 14px;
  outline: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.results-header .draw-dates .select-arrow {
  position: relative;
}

.results-header .draw-dates .select-arrow:after {
  font-family: llIcons;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\31";
  position: absolute;
  width: 14px;
  height: 7px;
  pointer-events: none;
  background: transparent;
  right: 14px;
  top: 14px;
  z-index: 1;
  color: #9aa89c;
}

.results-content {
  padding: 14px 0 0 0;
}

.results-content > *:not(.draw-info) {
  padding-left: 14px;
}

@media screen and (min-width: 768px) {
  .results-content > *:not(.draw-info) {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .results-content {
    padding: 0;
  }
}

.results-content > * {
  padding-top: 14px;
}

.results-content header h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #9aa89c;
}

@media screen and (min-width: 768px) {
  .results-content header h3 {
    padding-top: 28px;
    border-bottom: transparent;
    border-top: 1px solid #d9deda;
  }
}

@media screen and (min-width: 768px) {
  .results-content .draw-numbers {
    margin-bottom: 28px 0;
  }
}

.results-content .draw-numbers .number {
  text-align: center;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  line-height: 33px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #d9deda;
  margin-right: 3px;
}

@media screen and (min-width: 768px) {
  .results-content .draw-numbers .number {
    font-size: 17px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.results-content .draw-numbers .number.extra {
  border: 1px solid #ca7f26;
}

.results-content .draw-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .results-content .draw-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.results-content .draw-info > * {
  padding: 0 14px;
}

.results-content .draw-info .results-table {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 650px;
}

.results-content .draw-info .results-table .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d9deda;
}

.results-content .draw-info .results-table .table-row:not(.table-row__header) {
  border-top: none;
}

.results-content .draw-info .results-table .table-row.table-row__results {
  font-family: DaxlineProLight;
}

.results-content .draw-info .results-table .table-row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  padding-top: 7px;
  font-size: 13px;
  line-height: 15px;
}

@media screen and (min-width: 768px) {
  .results-content .draw-info .results-table .table-row > div {
    padding: 14px 21px;
  }
}

.results-content .draw-info .results-table .table-row > div:first-child {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results-content .draw-info .results-table .table-row > div:not(:first-child) {
  width: 30%;
}

.results-content .draw-info .results-pods {
  width: 100%;
  font-family: DaxlineProLight;
}

@media screen and (min-width: 768px) {
  .results-content .draw-info .results-pods {
    width: 300px;
  }
}

.results-content .draw-info .results-pods .draw-pod {
  padding: 21px 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .results-content .draw-info .results-pods .draw-pod {
    padding: 21px;
    margin: 0 0 15px 15px;
    border: 1px solid #d9deda;
    -webkit-box-shadow: -7px 0 0 0 #69a507;
            box-shadow: -7px 0 0 0 #69a507;
  }
}

.results-content .draw-info .results-pods .draw-pod h3 {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .results-content .draw-info .results-pods .draw-pod h3 {
    margin-bottom: 0;
  }
}

.lottery-color {
  color: #815422;
}

.bold {
  font-family: DaxlineProMedium;
}
/*# sourceMappingURL=style.css.map */