// LL Fonts
@font-face {
    font-family: DaxlineProLight;
    src: url(fonts/daxlineprolight.eot),
         url(fonts/daxlineprolight.eot?#iefix) format("embedded-opentype"),
         url(fonts/daxlineprolight.woff2) format("woff2"), 
         url(fonts/daxlineprolight.woff) format("woff"), 
         url(fonts/daxlineprolight.ttf) format("truetype")
}
@font-face {
    font-family: DaxlineProMedium;
    src: url(fonts/daxlinepromedium.eot),
         url(fonts/daxlinepromedium.eot?#iefix) format("embedded-opentype"),
         url(fonts/daxlinepromedium.woff2) format("woff2"),
         url(fonts/daxlinepromedium.woff) format("woff"),
         url(fonts/daxlinepromedium.ttf) format("truetype")
}
@font-face {
    font-family: DaxlineProBold;
    src: url(fonts/daxlineprobold.eot),
         url(fonts/daxlineprobold.eot?#iefix) format("embedded-opentype"),
         url(fonts/daxlineprobold.woff2) format("woff2"),
         url(fonts/daxlineprobold.woff) format("woff"),
         url(fonts/daxlineprobold.ttf) format("truetype")
}
@font-face {
    font-family: DaxlineProBlack;
    src: url(fonts/daxlineproblack.eot),
         url(fonts/daxlineproblack.eot?#iefix) format("embedded-opentype"),
         url(fonts/daxlineproblack.woff2) format("woff2"),
         url(fonts/daxlineproblack.woff) format("woff"),
         url(fonts/daxlineproblack.ttf) format("truetype")
}
@font-face {
    font-family: llIcons;
    src: url(fonts/ll-icon-font.eot),
         url(fonts/ll-icon-font.eot?#iefix) format("embedded-opentype"),
         url(fonts/ll-icon-font.woff) format("woff"),
         url(fonts/ll-icon-font.ttf) format("truetype")
}