@import 'variables';
@import 'fonts';

h1, h3{
    font-size: 14px;
    line-height: 18px;
    font-family: DaxlineProMedium;
} 
h1{
    margin-top: 7px;
    margin-bottom: 10px;
    color: $darkerGrey;
    @media screen and (min-width: $breakPoint) {
        font-size: 21px;
        line-height: 24px;
        margin-top: 20px;
        font-family: DaxlineProBlack;
        text-transform: uppercase;
    }
}
h3{
    font-family: DaxlineProMedium;
    border-bottom: 1px solid #9aa89c;
    padding-bottom: 7px;
    @media screen and (min-width: $breakPoint) {
        font-size: 17px;
        line-height: 26px;
        font-family: DaxlineProLight;
        border-bottom: transparent;
    }
}
body{
    display: flex;
    justify-content: center;
    .page-content{
        width: 100%;
        max-width: 960px;
        overflow-x: hidden;
        font-family: DaxlineProMedium;
        font-size: 14px;
        line-height: 21px;
    }
    > *{
        padding-bottom: 7px;
    }
}
.results-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1{
        width: 100%;
        border-bottom: 2px solid $darkGreen;
        padding-bottom: 5px;
        @media screen and (min-width: $breakPoint) {
            width: auto;
            border-bottom: transparent;
            padding: 0;
        }
        > span{
            padding: 0 14px;
            @media screen and (min-width: $breakPoint) {
                padding: 0;
            }
        }
    }
    .draw-dates{
        display: flex;
        align-items: center;
        > div{
            margin-right: 14px;
            box-sizing: border-box;
            display: flex;
            padding: 0 14px;
        }
        select{
            height: 40px;
            padding-right: 35px;
            box-sizing: border-box;
            border-radius: 2px;
            background-color: #fff;
            width: 100%;
            border: 1px solid $lightGrey;
            outline: none;
            font-family: DaxlineProMedium;
            color: $darkerGrey;
            padding-right: 35px;
            padding-left: 14px;
            outline: none;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        .select-arrow{
            position: relative;
        }
        .select-arrow:after{
            font-family: llIcons;
            font-style: normal!important;
            font-weight: 400!important;
            font-variant: normal!important;
            text-transform: none!important;
            speak: none;
            line-height: 1;
            font-size: 1em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\31";
            position: absolute;
            width: 14px;
            height: 7px;
            pointer-events: none;
            background: transparent;
            right: 14px;
            top: 14px;
            z-index: 1;
            color: $darkGrey;
        }
    }
}
.results-content{
    > *:not(.draw-info){
        padding-left: 14px;
        @media screen and (min-width: $breakPoint) {
            padding-left: 0;
        }
    }
    padding: 14px 0 0 0;
    @media screen and (min-width: $breakPoint) {
        padding: 0;
    }
    > * {
        padding-top: 14px;
    }
    header h3{
        padding-bottom: 5px;
        border-bottom: 1px solid #9aa89c;
        @media screen and (min-width: $breakPoint) {
            padding-top: 28px;
            border-bottom: transparent;
            border-top: 1px solid #d9deda;
        }
    }
    .draw-numbers{
        @media screen and (min-width: $breakPoint) {
            margin-bottom: 28px 0;
        }
        .number{
            text-align: center;
            vertical-align: middle;
            height: 30px;
            width: 30px;
            line-height: 33px;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid $lightGrey;
            margin-right: 3px;
            @media screen and (min-width: $breakPoint) {
                font-size: 17px;
                width: 35px;
                height: 35px;
                line-height: 35px;
            }
        }
        .number.extra{
            border: 1px solid $lotteryLightColor;
        }
    }
    .draw-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (min-width: $breakPoint) { 
            justify-content: flex-start;
            flex-wrap: nowrap;
        }
        > * {
            padding: 0 14px;
        }
        .results-table{
            padding: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 650px;;
            .table-row{
                display: flex;
                border: 1px solid $lightGrey;
            }
            .table-row:not(.table-row__header){
                border-top: none;
            }
            .table-row.table-row__results{
                font-family: DaxlineProLight;
            }
            .table-row > div{
                display: flex;
                align-items: center;
                padding: 3px;
                padding-top: 7px;
                font-size: 13px;
                @media screen and (min-width: $breakPoint) {
                    padding: 14px 21px;
                }
                line-height: 15px;
            }
            .table-row > div:first-child{
                width: 10%;
                justify-content: center;
            }
            .table-row > div:not(:first-child){
                width: 30%;
            }
        }
        .results-pods{
            width: 100%;
            font-family: DaxlineProLight;
            @media screen and (min-width: $breakPoint) {
                width: 300px;
            }
            .draw-pod{
                padding: 21px 0;
                margin: 0;
                @media screen and (min-width: $breakPoint) {
                    padding: 21px;
                    margin: 0 0 15px 15px;
                    border: 1px solid $lightGrey;
                    box-shadow: -7px 0 0 0 $darkGreen;
                }
                h3{
                    margin-bottom: 15px;
                    @media screen and (min-width: $breakPoint) {
                        margin-bottom: 0;
                    }
                }
            }
        }

    }
}
.lottery-color{
    color: $lotteryDarkColor;
}
.bold{
    font-family: DaxlineProMedium;
}