// Variables
$darkGreen: #69a507;
$darkerGreen: #3f6304;
$darkerGrey: #012406;
$darkGrey: #9aa89c;
$darkPurple: #6a0e4e;
$darkYellow: #ffd205;
$lightGreen: #a5cd28;
$lightGrey: #d9deda;
$lightPurple: #a30855;
$lightYellow: #f3e650;
$red: #fb6762; 
$lotteryDarkColor: #815422;
$lotteryLightColor: #ca7f26;
$breakPoint: 768px;